.Photos {
	border: 2px solid #a38b67;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 15px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}
.Photos h2 {
	margin-top: 20px;
	font-weight: 700;
	font-size: 20px;
}
.Photos p {
	line-height: 25px;
	font-weight: 300;
}

.photos_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.imgCrepe {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.photo {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	padding: 10px;
	margin: 10px;
}
.legend {
	position: absolute;
	top: 60%;
	left: 10%;
	color: black;
	background-image: linear-gradient(
		to right,
		rgba(255, 209, 148, 0.6),
		rgba(209, 145, 60, 0.6)
	);
	border: 1px solid black;
	padding: 11px;
	border-radius: 5px;
	text-align: center;
	width: 150px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.legend p {
	font-weight: 600;
	line-height: initial;
}

/* Debut version tablette  */
@media screen and (max-width: 991px) {
	body .Photos {
		width: 90vw;
		min-width: 90vw;
	}
}
/* Fin version tablette  */
