/* .body{
    font-family: Arial, Helvetica, sans-serif;
} */

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
* {
	box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

body{
	background-image : url("../assets/fond.png");
	background-position: top center !important;
	background-repeat:no-repeat;
}
header,
.Accueil,
.Formules,
.Cocktails,
.Devis,
.Contact,
.Photos {
	flex: 1;
	display: flex;
	width: 50%;
	margin: auto;
    min-width: 940px;
}

